HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
*.orig
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


AS12345.pdf
/*.pdf
PDF-Print-Service/temp/AS12345.pdf
temp/*.pdf
/chess-ws/log/
/chess-ws/log/*
chess-ws/log/
chess-ws/Logging.html
chess-ws/Logging.html.lck
chess-ws/Logging.txt
chess-ws/Logging.txt.lck
